
$fa-font-path: "~font-awesome/fonts";
:root{
    //
   --gendre: linear-gradient(90deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%)!important;
   --hello:linear-gradient(90deg, hsla(10, 89%, 70%, 1) 0%, hsla(350, 100%, 69%, 1) 100%);
    --fille:linear-gradient(90deg, hsla(12, 89%, 89%, 1) 0%, hsla(329, 82%, 76%, 1) 50%, hsla(342, 95%, 78%, 1) 100%);
    --garcon:linear-gradient(90deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
}
@media screen and (max-width: 960px) {
}
.card{
   --hi: var(--gendre);
    background:var(--hi);

}
.dd-style {
    width: 100% !important;
    background-color: greenyellow;
}

.h5 #header {
    font-size: 62px;
    font-family: "Pacifico" !important;
}
.chip {
    display: block;
    margin-bottom: 10px;
    //width: 150px;
}

:host ::ng-deep .custom-dd .p-dropdown {
    width: 400px;
}









