<!--top card -->
<div class="card border-primary mb-3 bg-primary">
    <div style="display: flex; align-items: center;">
        <img alt="" id="img1" src="assets/image/baby1.svg" style="width: 100px;height: 100px;">
        <h5 id="header" style="text-align: center; margin: 0 auto; ">PORTRAIT DE L'ENFANT</h5>
    </div>
    <div style="display: flex; align-items: center;">
        <h5 style="text-align: center;margin: 0 auto; font-family: cursive, sans-serif;">INTERVENTIONS ET SOUTIENS DE
            L'EDUCATRICE</h5>
    </div>
</div>

<!--SIDE BAR-->
    <p-sidebar [(visible)]="sidebarVisible"  position="right">

            <p-card [style]="{height: '450px'}">
                <h5>Choisir un enfant</h5>
                <p-dropdown
                    [options]="listEnfant"
                    [(ngModel)]="selectedkid"
                    placeholder="Selectionner un enfant"
                    optionLabel="name"
                    [showClear]="true">

                </p-dropdown>
            </p-card>

        </p-sidebar>



    <p-button (click)="sidebarVisible = true"  style="position:fixed; right:0px ; top:200px; "styleClass="p-button-rounded p-button-help">
<img alt="logo" src="assets/image/baby-icon.png" style="width: 2rem" />
    </p-button>


<div style="display: flex">


    <!--Socioaffectif card-->

    <div class="col-12 md:col-6">
        <div class="card border-primary mb-3  bg-primary overflow-auto" style="height: 25rem  ">
            <h5 class="p-card-title" >Socioaffectif</h5>
            <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
            <p-button (click)="toggleDropdownSocioaffectif()" styleClass="p-button-rounded p-button-text">
                <img alt="logo" src="assets/image/pencil.png" style="width: 2rem"/>
            </p-button>

            <p-dropdown

                class="custom-dd"
                (onChange)="onOptionSelectionSo()"
                *ngIf="showDropdownSocioaffectif"
                [(ngModel)]="selectedOptionSo"
                [filter]="true"
                [options]="socioaffectif"
                optionLabel="label"
                placeholder="choisir une activitée"

            >
            </p-dropdown>

            <div *ngIf="selectedOptionsSo.length > 0" class="selected-city">

                <div class="chips-container">
                    <p-chip *ngFor="let option of selectedOptionsSo" [removable]="true" class="chip"
                            label="{{ option.label }}"></p-chip>
                </div>
            </div>
        </div>
    </div>

    <!--Congitif card-->

    <div class="col-12 md:col-6">
        <div class="card border-primary mb-3  bg-primary  overflow-auto" style="height: 25rem ">
            <h5 class="p-card-title">Cognitif</h5>
            <p-button (click)="toggleDropdownCognitif()" styleClass="p-button-rounded p-button-text">
                <img alt="logo" src="assets/image/pencil.png" style="width: 2rem"/>
            </p-button>

            <p-dropdown
                class="custom-dd"
                (onChange)=" onOptionSelectionC()"
                *ngIf="showDropdownCognitif"
                [(ngModel)]="selectedOptionC"
                [filter]="true"
                [options]="cognitif"
                optionLabel="label"
                placeholder="choisir une activitée"
                [showClear]="true"
            >
            </p-dropdown>

            <div *ngIf="selectedOptionsC.length > 0" class="selected-city">

                <div class="chips-container">
                    <p-chip *ngFor="let option of selectedOptionsC" [removable]="true" class="chip"
                            label="{{ option.label }}"></p-chip>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="flex">
    <!--Physique card-->

    <div class="col-12 md:col-6">
        <div class="card border-primary mb-3  bg-primary overflow-auto "  style="height: 25rem ">
            <h5 class="p-card-title">Physique</h5>
            <p-button (click)="toggleDropdownPhysique()" styleClass="p-button-rounded p-button-text">
                <img alt="logo" src="assets/image/pencil.png" style="width: 2rem"/>
            </p-button>

            <p-dropdown
                class="custom-dd"
                (onChange)=" onOptionSelectionPh()"
                *ngIf="showDropdownPhysique"
                [(ngModel)]="selectedOptionPh"
                [filter]="true"
                [options]="physique"
                optionLabel="label"
                placeholder="choisir une activitée"
                [showClear]="true"
            >
            </p-dropdown>

            <div *ngIf="selectedOptionsPh.length > 0" class="selected-city">

                <div class="chips-container">
                    <p-chip *ngFor="let option of selectedOptionsPh" [removable]="true" class="chip"
                            label="{{ option.label }}"></p-chip>
                </div>
            </div>


        </div>
    </div>

    <!--Language card-->
    <div class="col-12 md:col-6">
        <div class="card border-primary mb-3  bg-primary  overflow-auto" style="height: 25rem ">
            <h5 class="p-card-title">Language</h5>

            <p-button (click)="toggleDropdownLanguage()" styleClass="p-button-rounded p-button-text">
                <img alt="logo" src="assets/image/pencil.png" style="width: 2rem"/>
            </p-button>

            <p-dropdown
                class="custom-dd"
                (onChange)=" onOptionSelectionL()"
                *ngIf="showDropdownLanguage"
                [(ngModel)]="selectedOptionL"
                [filter]="true"
                [options]="language"
                optionLabel="label"
                placeholder="choisir une activitée"
                [showClear]="true"
            >
            </p-dropdown>

            <div *ngIf="selectedOptionsL.length > 0" class="selected-city">

                <div class="chips-container">
                    <p-chip *ngFor="let option of selectedOptionsL" [removable]="true" class="chip"
                            label="{{ option.label }}"></p-chip>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="card ">

    <h5>Commentaires et anecdotes</h5>
    <div class="col-12 md:col-6">
        <img alt="logo" src="assets/image/pencil.png" style="width: 2rem"/>
        <textarea class="p-Inputtext-res" pInputTextarea placeholder="Vos Commentaires"
                  style="min-width: 770px "></textarea>

    </div>


</div>
<div class="cardPlain">
    <div class="card flex justify-content-center">


        <div class="dropdown">
            <p-button


                styleClass="p-button-rounded p-button-text">
                <img alt="logo" src="assets/image/pencil.png" style="width: 2rem"/>
            </p-button>

        </div>
    </div>

</div>


